.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#recap-lock .active .content {
  height: 100%;
}

/*==============================================*/

.content .recap-lock-content {
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1 1 auto;          /* riempie lo spazio disponibile */
  min-height: 0;           /* fondamentale per permettere al figlio di "stringersi" */
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.content .recap-lock-content .recap-graphic {
  width: var(--width);
  padding: var(--padding);
  height: calc(90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 24px;
  position: relative;
    flex: 1 1 auto;
  min-height: 0;

}

.content .recap-lock-content .recap-graphic .lock {
  height: 3.6rem;
  width: 3.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content .recap-lock-content .recap-graphic .lock svg {
  height: 100%;
  width: 100%;
}

.content .recap-lock-content .recap-graphic .wait {
  height: 12rem;
  width: 12rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content .recap-lock-content .recap-graphic .wait svg {
  height: 100%;
  width: 100%;
}

.content .recap-lock-content .recap-graphic a {
  height: 16rem;
  width: 16rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  border: none;
  z-index: 10000;
}



.content .recap-text {
    flex: 0 0 auto;
  height: auto;  
  width: var(--width);
  text-align: center;
  font-weight: 400;
  letter-spacing: -3%;
  font-size: 1.4rem;
  line-height: 1;

  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid rgba(26, 26, 26, 0.3);
  border-top: 1px solid rgba(26, 26, 26, 0.3);
  padding: 20px 0;
  margin-bottom: 1rem;
}
.content .recap-text p {
  padding: 0;
  margin: 0;
}

.specifics-recap {
  font-size: 0.9rem;
  text-align: left;
}

/*==============================================*/

/*==============================================*/

#recap-lock button a {
  opacity: 0.4;
}
