.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#recap .content {
  height: 100%;
}

/*==============================================*/

.content .recap-unlock-content {
  width: 100%;
  height: fit-content;
}

.content .recap-unlock-content .time-change-wrap {
  width: var(--width);
  padding: var(--padding-vertical);
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  gap: 24px;
  position: relative;
}

.number-wrap {
  display: flex;
  flex-direction: column;
}

.name-tag {
  text-transform: uppercase;
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -2%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.number-small {
  text-transform: uppercase;
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2%;
  line-height: 0.84;
  font-size: 2.4rem;
}

.number-big {
  text-transform: uppercase;
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -4%;
  line-height: 0.84;
  font-size: 5.4rem;
}

/*==============================================*/
.content .final-score-wrap {
  width: 100%;
  height: fit-content;
  border-top: var(--border);
}
.final-score-wrap .final-score-content {
  width: calc(100% - 40px);
  height: fit-content;
  padding: var(--padding-vertical);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;

  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -3%;
  line-height: 1;
  margin-bottom: 2rem;
}

.final-score-content .part-up {
  height: fit-content;
}

.final-score-content .part-down {
  height: fit-content;
}
/*==============================================*/

.graphics-wrap {
  /*display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
*/
  margin-top: 2.4rem;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;

  margin-bottom: 1.4rem;
}

.graphics-wrap button {
  grid-column: span 2;
}

.graphics-inner-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100%;
  border-radius: none;
  background: none;
  border: none;
  width: 100%;
  padding: 0;
}

.graphics-inner-wrap svg {
  width: 8rem;
}

/*==============================================*/

/*============== overlay =====================
#recap .upper-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}*/

/*==============================================*/
#recap .rank-section-wrap {
  width: 100%;
  height: calc(100% - 15%);
  border-top: var(--border);
  margin-bottom: 1rem;
}

#recap .rank-section-wrap .rank-content {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -3%;
  line-height: 1;
  overflow-x: hidden;
  overflow-y: scroll; /* o scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / Edge legacy */
}

#recap .rank-content::-webkit-scrollbar {
  display: none;
}

#recap .rank-content .line-ranking {
  width: 100%;
  padding-top: 24px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
  justify-content: space-between;
  align-items: baseline;
}

#recap .hour-of-day {
  font-size: 1rem;
  letter-spacing: -3%;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#recap .activity-chosen {
  font-size: 1rem;
  letter-spacing: -3%;
  font-weight: 300;
  white-space: nowrap;
  width: 8rem;
  text-align: center;
  grid-column: span 2;
  width: 100%;

}

/*==============================================*/

/*
=================================
=================================
=================================
predisposizione responsive / Stili per iPhone 15 / 14 / 13 / 12 (6.1")
=================================
=================================
=================================
*/

@media screen and (max-width: 380px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  /*==============================================*/

  .content .recap-unlock-content {
    width: 100%;
    height: 44%;
  }

  .content .recap-unlock-content .time-change-wrap {
    width: var(--width);
    padding: var(--padding-vertical);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    gap: 24px;
    position: relative;
  }

  .number-wrap {
    display: flex;
    flex-direction: column;
  }

  .name-tag {
    text-transform: uppercase;
    font-family: "helvetica-neue-lt-pro-cond", sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -2%;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .number-small {
    text-transform: uppercase;
    font-family: "helvetica-neue-lt-pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -2%;
    line-height: 0.84;
    font-size: 2rem;
  }

  .number-big {
    text-transform: uppercase;
    font-family: "helvetica-neue-lt-pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -2%;
    line-height: 0.84;
    font-size: 4.8rem;
  }

  /*==============================================*/
  .content .final-score-wrap {
    width: 100%;
    height: calc(100% - 44%);
    border-top: var(--border);
  }
  .final-score-wrap .final-score-content {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: var(--padding-vertical);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -3%;
    line-height: 1;
  }

  .final-score-content .final-score-half {
    height: 48%;
  }

  /*==============================================*/

  .graphics-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .graphics-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
    border-radius: none;
    background: none;
    border: none;
  }

  .graphics-inner-wrap svg {
    width: 54%;
  }
}
