button,
input,
select,
textarea {
  font-size: 16px; /* almeno */
  touch-action: manipulation; /* migliora il comportamento touch */
}

* {
  font-family: "helvetica-neue-lt-pro", sans-serif;
  color: var(--secondary-color);
}

:root {
  --primary-color: #f0f0f0;
  --secondary-color: #1a1a1a;
  --secondary-color-opacity: rgba(26, 26, 26, 0.3);

  --border: 1.5px solid var(--secondary-color-opacity);
  --width: calc(100% - 40px);
  --width-small: calc(100% - 20px);
  --vh: 100vh;

  --padding: 0px 20px;
  --padding-small: 0px 10px;
  --padding-vertical: 20px 20px;
}

/*rimozione effetti visivi al click dei bottoni*/
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: manipulation;
}

section {
  background: var(--primary-color);
}

button:focus {
  outline: none;
}
button:active {
  background: none;
}





/* ================================
   TOOLTIP – fixed (no flow)
================================ */

.app-tooltip {
  position: fixed;
  bottom: 64px; /* sopra il footer */
  left: 50%;
  transform: translateX(-50%) translateY(8px);

  padding: 8px 14px;
  border-radius: 999px;

  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: -2%;

  background: rgba(0, 0, 0, 0.85);
  color: #fff;

  pointer-events: none;
  z-index: 9999;

  opacity: 0;
  transition:
    opacity 400ms ease,
    transform 400ms ease;
}

.app-tooltip.is-visible {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
