/*==============================================*/
/*=================== subsections PAGINA ALIGN / personal and country ===========================*/
/*==============================================*/

#align-personal-overlay,
#align-country-overlay {
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.align-subsection .upper-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: var(--width);
  height: fit-content;
  position: relative;
}

/*==============================================*/

.align-subsection .upper-content-wrap .recap-lock-content {
  padding: var(--padding-vertical);
  width: 100%;
  height: 40vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  margin-bottom: 2rem;
}

.align-subsection .upper-content-wrap button {
  height: 44px;
  border-radius: 0;
  color: var(--secondary-color);
  border: none;
  background: none;
  padding-left: 0;

  top: 0;
  z-index: 500;
  width: 100%;
  min-width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.align-subsection .upper-content-wrap .view-score {
  height: fit-content;
  text-transform: uppercase;
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  position: relative;

}

.align-subsection .upper-content-wrap .recap-lock-content .view-graphic {
  height: 45vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.align-subsection
  .upper-content-wrap
  .recap-lock-content
  .view-graphic
  .graphic-wrap {
  height: 75%;
  width: 75%;
  aspect-ratio: 1/1;
  right: 0;
  position: relative;
}

.align-subsection
  .upper-content-wrap
  .recap-lock-content
  .view-graphic
  .graphic-wrap
  .holder {
  height: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.align-subsection
  .upper-content-wrap
  .recap-lock-content
  .view-graphic
  .graphic-wrap
  .holder
  span {
  height: 100%;
  width: 100%;
}

.align-subsection
  .upper-content-wrap
  .recap-lock-content
  .view-graphic
  .graphic-wrap
  svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.align-subsection .graphic-wrap .ext span svg {
  height: 100%;
  width: 100%;
}

.align-subsection .graphic-wrap .int span svg {
  width: 70%;
  height: 70%;
}

/*==============================================*/

.subsection .comment-overlay-section-wrap {
  width: 100%;
  height: 40vh;
  border-top: var(--border);
}

.comment-overlay-section-wrap .comment-content {

  height: calc(100% - 40px);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: -3%;
  line-height: 1;
}


.comment-overlay-section-wrap .comment-content span {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  margin: 0;
}

/*
=================================
=================================
=================================
predisposizione responsive / Stili per iPhone 15 / 14 / 13 / 12 (6.1")
=================================
=================================
=================================
*/

@media screen and (max-width: 400px) {
 }
