/*===========================================*/

 .searched {
 background: rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

/* Stato base */
.name-position {
  background-color: transparent; /* stato iniziale */
  transition: background-color 0.5s ease; /* fallback transizione */
}

/* Animazione flash */
@keyframes highlightFlash {
  0%   { background-color: grey; }
  70%  { background-color: grey; }
  100% { background-color: transparent; }
}

.name-position.flash {
  animation: highlightFlash 2s ease forwards;
}


#world-rank-overlay .svg-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#world-rank-overlay svg {
  height: 50%;
  width: 50%;

}